*{
    margin: 0;
    padding: 0;
}

/* shared style */
body{
    background: rgb(245, 245, 245);
    font-family: Fira Sans;
}
.pillar-title{
    color: rgb(14, 14, 14);
    font-size: 30px;
    font-weight: 700;
    line-height: 41px;
}
.pillar-content{
    color: rgba(14, 14, 14, 0.7);
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}
.pillar-img{
    width: 42px;
    height: 45px;
}
.pillar-sub-title{
    color: rgba(14, 14, 14, 0.8);
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    margin: 10px 0px;
}

/* navbar style */
nav{
    padding: 20px 136px;
    margin: 0px 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 17px;
}
.nav-title{
    color: rgb(14, 14, 14);
    font-size: 27px;
    font-weight: 700;
    line-height: 32px;
}
.nav-btn{
    color: rgb(0, 106, 80);
    font-size: 15px;
    font-weight: 600;
    line-height: 19px;
    padding: 13px 26px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
}

/* hero section style */
#hero{
    padding: 0px 150px 60px 150px;
}
.hero-box{
    border-radius: 24px;
    background: rgb(198, 228, 214);
    padding: 68px 85px;
    display: flex;
    justify-content: space-evenly;
}
.hero-sub-title{
    color: rgba(14, 14, 14, 0.5);
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
}
.hero-title{
    color: rgb(14, 14, 14);
    font-size: 47px;
    font-weight: 700;
    line-height: 57px;
    margin: 13px 0px;
}
.hero-btn{
    border-radius: 8px;
    background: rgb(0, 106, 80);
    padding: 14px 34px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 600;
    line-height: 19px;
    border: none;
}
.hero-content{
    padding: 60px 0px 20px 0px;
}

/* pillar section style */
#pillar{
    margin: 0px 150px;
    padding-bottom: 20px;
}
.pillar-items{
    display: flex;
    gap: 25px;
    margin-top: 30px;
}
.pillar-item{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 20px;
}

/* future section style */
#future{
    margin: 60px 150px;
}
.future-box .pillar-content{
    margin: 10px 0px 25px 0px;
}
.future-items{
    display: flex;
    gap: 20px;
}
.future-item1{
    box-sizing: border-box;
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
    padding: 27px;
}
.future-item2{
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(198, 228, 214);
    padding: 27px;
}
.future-item3{
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(247, 235, 207);
    padding: 27px;
}
.future-btn1{
    border-radius: 8px;
    background: rgb(84, 144, 245);
    padding: 9px 17px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 600;
    line-height: 19px;
}
.future-btn2{
    border-radius: 8px;
    background: rgb(9, 161, 92);
    padding: 9px 17px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 600;
    line-height: 19px;
}
.future-btn-container2{
    margin-top: 43px;
}
.future-btn3{
    border-radius: 8px;
    background: rgb(255, 194, 57);
    padding: 9px 17px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 600;
    line-height: 19px;
}
.future-btn-container3{
    margin-top: 43px;
}
.future-items{
    margin-bottom: 27px;
}
.future-box2{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background-image:url(./assets/quote-bg.png);
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    padding: 41px 20px;   
}

/* opinion section style */
#opinion{
    margin: 0px 150px 60px 150px;
}
.opinion-box{
    margin: 68px 0px;
}
.opinion-box2{
    margin-top: 25px;
    padding: 27px;
}
.opinion-box3{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(198, 228, 214);
    padding: 20px;
}
.opinion-items{
    display: flex;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.1);
}
.opinion-items .opinion-item1{
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    width: 88%;
}
.opinion-items .opinion-item2{
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    width: 12%;
}
.opinion-items .opinion-item2 .color{
    box-sizing: border-box;
    border: 1px solid rgb(14, 14, 14);
    border-radius: 4px;
    background: rgb(198, 228, 214);
    padding: 8px 12px;
}
.opinion-items .opinion-item2 span{
    box-sizing: border-box;
    border: 1px solid rgb(14, 14, 14);
    border-radius: 4px;
    padding: 8px 12px;
}

/* news section style */
#news{
    margin: 60px 150px;
}
.news-items1 .pillar-content{
    margin: 20px 0px;
}
.news-items2{
    display: flex;
    padding: 45px;
    gap: 25px;
}
.news-items2 .news-img1 img{
    width: 347px;
    height: 260px;
    border-radius: 24px;
}
.news-title{
    color: rgba(14, 14, 14, 0.8);
    font-size: 27px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 10px;
}
.news-item1 .j-img img{
    width: 114px;
    height: 34px;
    margin-bottom: 10px;
}
.news-item1 .date{
    margin-bottom: 10px;
}
.news-btn-container{
    margin-top: 27px;
}
.news-btn{
    padding: 11px 22px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 600;
    line-height: 19px;
    border: none;
}
.news-box2{
    margin-top: 20px;
    border-radius: 24px;
    background: rgb(255, 255, 255);
}

/* donate section style */
#donate{
    margin: 60px 150px;
}
.donate-box2 .pillar-title{
    text-align: center;
}
.donate-box2 .pillar-content{
    text-align: center;
    margin: 20px 0px;
}
.donate-items{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.donate-item{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 34px;
    color: rgba(14, 14, 14, 0.8);
    font-size: 34px;
    font-weight: 700;
    line-height: 41px;
}
.donate-items .color2{
    background: rgb(198, 228, 214);
    border: none;
}
.donate-inp{
    text-align: center;
    margin: 27px 0px 37px 0px;
}
.donate-inp input{
    padding: 17px 34px;
    width: 877px;
    height: 54px;
    border: none;
    text-align: center;
    color: rgba(14, 14, 14, 0.3);
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
}
.donate-btn-container{
    text-align: center;
}

/* subscribe section style */
#subscribe{
    margin: 60px 150px;
}
.subscribe-box{
    padding: 60px 85px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
}
.subscribe-items .pillar-title{
    text-align: center;
}
.subscribe-items .pillar-content{
    text-align: center;
    margin: 12px 0px;
}
form{
    display: flex;
    justify-content: center;
    gap: 0px;
    margin: 20px 0px;
}
form input{
    border: none;
    padding: 15px 34px;
    width: 510px;
    height: 40px;
}
form button{
    padding: 14px 29px;
    border-radius: 0px 8px 8px 0px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 600;
    line-height: 19px;
    border: none;
}

/* footer section style */
footer{
    margin: 68px 150px;
}
.footer-box{
    padding: 43px 136px;
    background: rgb(255, 255, 255);
}
.footer-box .pillar-title{
    text-align: center;
    margin: 27px 0px;
}
.footer-img-box{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}
